

section.formulario{
    padding: 80px 4%;
}


form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    margin-top: 40px;

}

form input{
    width: 100%;
    background-color: rgba(123, 215, 129, 0.148);
    border: 0;
    outline: 0;
    padding: 25px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 15px;
}

form input::placeholder{
    color: rgb(21, 21, 21);
}

form textarea{
    resize: none;
    max-height: 400px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
    

}

form  .btn-enviar input[type=submit]{
    width: 100px;
    color: #090909;
    background-color: #04fc42;
    font-weight: 700px;
    cursor: pointer;
    align-items: center;
    
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    height: 40px;
}

span{
    color: #04fc42;
    font-size: 35px;

}

form :hover{
    color: #0a0a0a;
}





