@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100;300;400;500 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-size: 20px;
    background-color: rgb(44, 43, 43);
}

.header-inner-content {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .navbar {
    background-color: #2c2c2c;
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px #2c2c2c;
    z-index: 99;
  }
  
  .navbar>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  .logo {
    color: #04fc42;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .nav-icons {
    display: flex;
    align-items: center;
  }
  
  .nav-icons img {
    width: 30px;
    cursor: pointer;
  }
  
  .nav-icons img:first-child{
    margin-right: 1rem;
  }
  
  nav ul li {
    color: #fff;
    margin-right: 1.5rem;
    cursor: pointer;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
  }
  
  nav ul li:hover {
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
  }
  
  .menu-button {
    display: none;
  }
  
  .header{
    background-image: radial-gradient(#fff, #c7c7c7);
  }
  
  .header-bottom-side {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  
  .header-bottom-side-left {
    height: 100%;
    flex-basis: 50%;
  }
  
  .header-bottom-side-left h2 {
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
  }
  
  .header-bottom-side-left p {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  .header-bottom-side-left button {
    background-color: #04fc42;
    border: none;
    cursor: pointer;
    padding: 0.8rem 3.8rem;
    border-radius: 9999px;
    color: #000;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.2s;
  }
  
  .header-bottom-side-left button:hover {
    background-color: #28f75f;
  }
  
  .header-bottom-side-rigth {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header-bottom-side-rigth img {
    width: 70%;
    height: 70%;
  }
  
  /* Medias Queries */
  @media (max-width: 800px){
    .logo {
      font-size: 1.2rem;
    }
  
    .menu-button{
      display: block;
    }
  
    .header-bottom-side {
      flex-direction: column;
      text-align: center;
      padding-top: 4rem;    
    }
  
    nav {
      position: absolute;
      background-color: #2c2c2c;
      width: 100%;
      top: 46px;
      display: none;
    }
  
    .show-menu nav {
      display: block;
    }
  
    nav ul {
      flex-direction: column;
    }
  
    nav ul li {
      text-align: center;
      padding: 0.8rem;
    }
  }

.box{
    width: 65px;
    height: 68px;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0.6rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all .4s ease;
    

}

.box:hover{
    width: 200px;
    background: #c32aa3;
    border-radius: 35px;
    color: rgb(9, 9, 9);
    box-shadow: 0 0 50px #090a09;
    
    
}

.box:nth-child(2):hover{
    background: rgb(39, 180, 88);
    box-shadow: 0 0 50px #090a09;


}

.box:nth-child(3):hover{
    background: #1877f2;
    box-shadow: 0 0 50px #090a09;
    
}
 

p{
    transform: translate(60px);

}

.box .icon{
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50px;
    margin-right: 10px;
    transition: all .4s ease;
    
    
}

.instagram{
    background-color: #c32aa3;
}

.whatsapp{
    background-color: #25d366;
}

.facebook{
    background-color: #1877f2;
}

