* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #666;
}

.container{
  width: 1150px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 50px;
}
.card{
  position: relative;
  padding: 45px;
  width: 300px;
  background-color: white;
  margin: 20px;
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s;
  text-align: center;
  height: 500px;
  align-items: center;
  
}
.card img{
  transition: 0.5s;
  text-align: center;
  border-radius: 30px;
  background-color: white;
}
.card h1{
  font-size: 2rem;
  height: 50px;
}
.card ::content{
  padding: 20px;
  text-align: center;
}
.card .content p{
  color: #666;
  transition: 0.5s;
}
.content a{
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(31, 46, 215, 0.845);
  color: white;
  border-radius: 40px;
  text-decoration: none;
  transition: 0.5s;
  outline: none;
  margin-top: 20px;
  text-align: center;
}
.card:hover{
  background-color: white;
  color: rgb(97, 96, 96);
  margin-top: 30px;
  box-shadow: 2px 20px 25px rgb(10, 32, 45);
  border-color: rgb(30, 14, 207);
}
.card:hover img{
  background: white;
}
.card:hover .content p{
  color: black;
}
.card:hover .content a{
  color: white;
}

.container {
  background-color: #666;
  font-family: Arial, Helvetica, sans-serif;

}

button {
  background-color: #04fc42;
  border: none;
  cursor: pointer;
  padding: 0.8rem 3.8rem;
  border-radius: 9999px;
  font-weight: 900px;
  font-size: 1rem;
  transition: all 0.2s;
  font-family: Arial, Helvetica, sans-serif;


}

h2{
  color: #04fc42;
  font-size: 40px;
  height: 650px;
  width: 40px;
  font-family: Arial, Helvetica, sans-serif;

}

h3{
  color: white;
  font-size: 40px;
  height: 550px;
  width: 20px;
  font-family: Arial, Helvetica, sans-serif;

}






